* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Center the form vertically and horizontally */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #03001e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.registration-form {
  width: 500px;
  height: 500px;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  h2 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 50px;
  }

  .form-group {
    margin-bottom: 20px;
    padding-right: 15px;
    label {
      display: block;
      font-size: 18px;
      color: #fff;
    }
    input {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      &:focus {
        outline: none;
      }
    }
  }

  button {
    background-color: #ec38bc;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #b92d94;
    }
  }

  .error-message {
    color: #d9534f;
    font-size: 16px;
    margin-top: 5px;
  }
}
