.signin{
    h1{
        text-align: center;
        margin-top: 50px;
        font-family: sans-serif;
    }

    .container{
        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            margin-top: 100px;
            font-family: sans-serif;

            label{
                font-size: 20px;
                color: rgb(19,19,19)
            }

            input{
                padding: 10px 15px;
                border-radius: 5px;
                transition: all 200ms ease-in;
                box-shadow: 4px 4px black;
                border: 1px solid black;
            }

            button {
              
                padding: 10px 50px;
                border-radius: 10px;
                font-size: 15px;
                cursor: pointer;
                transition: all 200ms ease-in;
                &:hover {
                  box-shadow: 4px 5px black;
                  background: rgb(247, 194, 194);
                }
        }
    }
}
}